.Logincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Loginform {
  height: fit-content;
  min-width: 35vw;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding: 20px;
  margin: 20px;
}
.Logintitle {
  display: flex;
  justify-content: center;
}
.Logininputcontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin: 30px 10px 20px 10px;
}
.Logininputcontainer > label {
  font-size: 18px;
  font-weight: 700;
}
.Logininputcontainer > input {
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
}
.Loginbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.Loginforgotpassword {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
