.boxtitle {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recordbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px auto;
  width: 70vw;
  padding: 25px;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.recordcontainer {
  display: flex;
  justify-content: center;
}

.month {
  color: #005b7f !important;
  font-weight: 700 !important;
  font-size: 17px !important;
}

.spancontainer {
  align-self: center;
}
.css-i4bv87-MuiSvgIcon-root {
  font-size: 23px !important;
}
.css-1yhpg23-MuiTableCell-root {
  // 所有單元格
  padding: 8px !important;
}
.detailtitle {
  // 明細
  font-size: 20px !important;
  font-weight: 700 !important;
}
.detailsecondtitle {
  // 課程類別
  font-size: 20px !important;
  font-weight: 700 !important;
}
.detailclass {
  font-size: 18px !important;
  font-weight: 600 !important;
}

.title {
  padding: 15px;
  justify-content: space-evenly;
  font-size: 20px !important;
  font-weight: 900 !important;
  color: #005b7f !important;
  text-align: center;
  align-items: center;
}

.record {
  display: flex;
}

.alreadypaybtn {
  background-color: #d1e5ed;
  color: #7b7b7b;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px;
  font-size: 17px;
}
.paybtn {
  background-color: #005b7f;
  color: #f2f2f2;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px;
  font-size: 17px;
}

@media (max-width: 768px) {
  .recordbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 100px auto;
    width: 90vw;
    background-color: #f2f2f2;
    border-radius: 10px;
  }
}
